@model ApplicationUser

<form method="post">

    <div class="border p-3 mt-5">

        <div class="row pb-3">
            <h2 class="text-primary"> Delete User </h2>
            <hr>
        </div>
        <input type="hidden" asp-for="Id" />

        <div class="row pb-3">
            <h2 class="text-primary"> Update the Product </h2>
            <hr>
        </div>        

        <div class="mb-3">
            <label asp-for="FirstName" class="p-0">User Name:</label>
            <input asp-for="FirstName" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="p-0">User Name:</label>
            <input asp-for="LastName" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="UserName" class="p-0">User Name:</label>
            <input asp-for="UserName" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="p-0">Email:</label>
            <input asp-for="Email" class="form-control" />

        </div>

        <div class="mb-3">
            <label asp-for="Department" class="p-0">Department Name:</label>
            <input asp-for="Department" class="form-control" />
        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:150px">Delete</button>

        <a asp-controller="User" asp-action="Index" class="btn btn-lg btn-primary" style="width:150px">Go back</a>

    </div>

</form>