@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventory Management</h1>
    <h2 class="display-4">System</h2>
</div>
<br />
<br />
<div class="text-center">
    <img src="~/img/bg.jpg" style="max-width: 50%; height: 50%;" />
</div>
