html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.non-clickable {
    color: white; /* Retains the original text color */
    cursor: default; /* Changes the cursor to indicate it's not clickable */
}

.non-clickable:hover {
    color: white; /* Prevents color change on hover */
    text-decoration: none; /* Removes underline if there was one */
}