@model Assignment // This section specifies the model passed to the view. With Dependency Injection, the data from the controller is injected as a model here. The model data is then processed and displayed in this view.
                @* // Clean coding *@ 

<form method="post" enctype="multipart/form-data">

    <div class="row">

      
        <div class="col-10">
            <div class="border p-3 mt-5">
                <div class="row pb-3">
                    <h2 class="text-primary">@(Model == null ? "Assign" : "Assign")</h2>
                    <hr>
                </div>

                <div class="mb-3">
                    <label asp-for="Id" class="p-0">User Id</label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>    

                <div class="mb-3">
                    <label asp-for="ProductId" class="p-0"></label>
                    <select asp-for="ProductId" asp-items="ViewBag.ProductsList" class="form-select"></select>
                </div>

                @if (Model != null)
                    {
                        <button type="submit" class="btn btn-lg btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-lg btn-primary" style="width:150px">Assign</button>
                    }

                <a asp-controller="Assignment" asp-action="Index" class="btn btn-lg btn-primary" style="width:150px">Go Back</a>
            </div>
        </div>

        <div class="col-2">
            @if (Model != null)
            {
                <br></br>
                <img src="@Model.Product.ImageURL" style="width:100% ;border-radius:7px; border:1px solid #bbb9b9" />
            }      
        </div>

    </div>

</form>