@model Inventory // This section specifies the model passed to the view. With Dependency Injection, the data from the controller is injected as a model here. The model data is then processed and displayed in this view.


<form method="post">

    <div class="border p-3 mt-5">

        <div class="row pb-3">
            <h2 class="text-primary"> Create a new Product </h2>
            <hr>
        </div>

        <div class="mb-3">
            <label asp-for="Name" class="p-0">Product Name:</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span> 
        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:150px">Create</button>

        <a asp-controller="Inventory" asp-action="Index" class="btn btn-lg btn-primary" style="width:150px">Go back</a>

    </div>

</form>